:root {
  /* Colors */
  --main-color-dark: #675f51;
  --main-color-light: #e7dcc7;
  --heading-color:#474039;
  --text-color:#856846;

  /* Hover */
  --hover-bg-dark: #5c4b3f;

  /* inputs */
  --input-bg-color: #f3f1ed;

  /* modals */
  --modal-bg-color: #f3f1edb7;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", sans-serif;
}
.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "PT Serif", sans-serif;
  color: var(--heading-color);
}

h4 {
  font-family: "PT Sans", sans-serif;
  color: var(--text-color);
}

p{
  color: var(--text-color);
}

button{
  border-radius: 10px;
}