body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', sans-serif;
}

h1, h2, h3 {
  font-family:'PT Serif', sans-serif;
  color: #675f51;
}

h4{
  font-family: 'PT Sans', sans-serif;
  color:#a09a8e ;

}
