.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-direction: row;
  margin: 15px;
  background-color: #f3f1ed;
  width: 300px;
  height: 400px;
  border-radius:  60px;
  transition: 0.6s;
}

.card:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  filter: drop-shadow(8px 8px 10px rgba(42, 42, 42, 0.768));

}

.link {
  text-decoration: none;
  margin-bottom: 0;
}

.link:hover {
  text-decoration: underline;
}
.country {
  font-size: 25px;
  margin: 10px;
}
.imgContainer {
  width: 250px;
  margin-right: 3%;
}

.img {
  width: 300px;
  height: 250px;
  border-radius: 5px 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.textContainer {
  text-align: center;
  font-family: "PT Sans", sans-serif;
}

.link {
  text-decoration: none;
  margin-bottom: 0;
  font-family: "PT Serif", sans-serif;
}

.link:hover {
  text-decoration: underline;
}
