* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background: linear-gradient(to bottom, #b4b4b485 0%, #0000005f 100%),
    url("../img/background-g3bd031557_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.countryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
}


@media (max-width: 812px) {
  .container {
    overflow: hidden;
    background: linear-gradient(to bottom, b4b4b485  0%, #0000005f 100%),
      url("../img/background-gb52fa81c1_640.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }
}
