* {
    box-sizing: border-box;
  }
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 100%),
      url("../img/background-g3bd031557_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 812px) {
    .container{
      overflow: hidden;
      background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 100%),
        url("../img/background-gb52fa81c1_640.jpg");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
    }
}
  