.navbar-wrapper {
  width: 100%;
}
.pages {
  color: var(--main-color-dark);
  text-align: center;
  font-size: calc(1.5rem + 2vw);
  margin-top: 10%;
}

.navbar {
  background-color: var(--main-color-dark);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-btn {
  background: transparent;
  font-family: "PT Sans", sans-serif;
  border: 2px solid var(--main-color-light);
  color: var(--main-color-light);
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  filter: drop-shadow(-2px 2px 1px var(--heading-color));

}
.nav-btn:hover {
  background: var(--hover-bg-dark);
  color: var(--main-color-light);
}
.navBtnLink,
.back-link {
  text-decoration: none;
  color: var(--main-color-light);
  font-family: "PT Sans", sans-serif;
}

.nav-img{
  width: 250px;
  filter: drop-shadow(-2px 2px 1px var(--heading-color));
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 15px;
  margin-right: 2rem;
  flex-direction: column;
  width: 25%;
  border-top: 6px solid var(--main-color-light);
  position: absolute;
  top: 60px;
  left: -110%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active {
  background: var(--main-color-dark);
  border-radius: 0px 0px 16px 16px;
  left: 0px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}
.nav-item .active {
  color: #ffdd40;
  border: none;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border-radius: 10px;
  width: 100%;
  display: table;
}
.nav-item {
  line-height: 40px;
  margin-bottom: 10px;
}

.nav-item:after,
.back-link:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after,
.back-link:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item.active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.nav-menu.active {
  background: var(--main-color-dark);
  left: 0px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-icon {
  display: block;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--main-color-light);
}

@media screen and (max-width: 900px) {
  .back-link,
  .display-none {
    display: none;
  }
  .nav-container {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-btn {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.5rem;
    padding: 8px;
    flex-grow: unset;
  }
  .nav-menu.active {
    background: var(--main-color-dark);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--main-color-light);
  }
}
