.navbar-wrapper {
  width: 100%;
}
.pages {
  color: #675f51;
  text-align: center;
  font-size: calc(1.5rem + 2vw);
  margin-top: 10%;
}

.navbar {
  background-color: #675f51;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-btn {
  background: transparent;
  font-family: "PT Sans", sans-serif;
  border: 2px solid #e7dcc7;
  color: #e7dcc7;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  flex-grow: 1;
  padding: 5px;
}
.nav-btn:hover {
  background: #5c4b3f;
  color: #ffffff;
}
.navBtnLink,.back-link {
  text-decoration: none;
  color: #e7dcc7;
  font-family: "PT Sans", sans-serif;

}
.back-link{
  margin-left: 5px;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}


.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after,.back-link:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after,.back-link:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item.active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .back-link{
    display: none;
  }
  .nav-container {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-btn {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.5rem;
    padding: 8px;
    flex-grow: unset;
  }
  .nav-menu.active {
    background: #675f51;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #e7dcc7;
  }
}
