.paginationNav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.paginationNav div{
  padding: 0;
  margin: 0;
}


.paginationLi{
  list-style: none;
  float: left;
  margin: 0.2rem;
  text-align: center;
}

.btnGoPages, .paginationLi button{
  padding: 0.5rem;
  color: var(--main-color-light);
  cursor: pointer;
  background-color: var(--main-color-dark);
  border: 1px solid var(--main-color-light);
  font-size:1rem;
  text-align: center;
  height: 40px;
  width: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
}

.btnGoPages{
  width: 70px;
}

.btnGoPages:hover,.paginationLi button:hover {
  text-decoration: none;
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
  cursor: pointer;
  border: 1px solid var(--main-color-dark);
}


@media (max-width: 812px) {
  .btnGoPages{
    font-size: 0.6rem;
  }

}