.container {
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; 

  }
  
  .input {
    height: 80%;
    width: 60%;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-bg-color);
    border-top-left-radius: 15px;
    border-end-start-radius: 15px;
  }

  .input::placeholder{
    padding-left:15px;
  }
  
  .button {
    height: 80%;
    width: 20%;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-bg-color);
    border-radius: 0px 15px 15px 0px;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: var(--main-color-dark);
    color: var(--input-bg-color);
    border: 1px solid var(--input-bg-color);
  }
  